# Compiled binary addons (https://nodejs.org/api/addons.html)
/build
/dist

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Explosiv
__explosiv__/
out/

# Ignore `package-lock` in examples & website
examples/*/package-lock.json
website/package-lock.json

# MacOS
.DS_Store
